.login-body {
    background-image: url('../img/night-city-wallpaper-mobile-382-1440x1080.jpg');
    /* Nos aseguramos que la imagen de fondo este centrada vertical y
    horizontalmente en todo momento */
    background-position: center center;

    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;

    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
     la altura del contenido supere la altura de la imagen. */
    background-attachment: fixed;

    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
     del navegador */
    background-size: cover;

    /* Fijamos un color de fondo para que se muestre mientras se está
    cargando la imagen de fondo o si hay problemas para cargarla  */
    background-color: #464646;
}

.background-color{
    background-color: #FCFCFC;
}

.navbar-custom{
    background-color: black;
}

.color-black{
    background-color: black;
    
}

.color-text-black{
    color: black !important;
}

#btn-ppio-listado{
    border-radius: 20px     20px      0           0 !important;
    color: #586F7C !important;
    /*border-top-color: #414040;
    border-left-color: #414040;
    border-right-color: #414040;
    border-bottom-color: #414040;
    border-style: solid;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;*/

}

#btn-medio-listado{
    border-radius: 0         0          0          0 !important;
    color: #586F7C !important;
    /*border-left-color: #414040;
    border-right-color: #414040;
    border-top-color: #414040;
    border-bottom-color: #414040;
    border-style: solid;
    border-left-width: 5px;
    border-right-width: 5px;*/


}

#btn-fin-listado{
    border-radius: 0         0       20px        20px !important;
    color: #586F7C !important;
    /*border-bottom-color: #414040;
    border-left-color: #414040;
    border-right-color: #414040;
    border-top-color: #414040;
    border-style: solid;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;*/
}

.color-grey{
    background-color: #a9a9a9;

}

.back-color-white-opacity{
    background: rgba(255, 255, 255, 0.7) 
}

.text-things{
    line-height: 
}

.color-text-black{
    color: #FFFFFF;
}

.color-white{
    color: #eeeeee;
}

.pad-login{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.pad-lg-top{
    padding-top: 100px; 
}

.pad-sm-top{
    padding-top:30px;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin input[type=number],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    /*background-color: rgb(104, 145, 162);*/
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(135, 135, 135);
}

.forgot-password {
    color: rgb(0, 0, 0);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(135, 135, 135);
}

.margin-login{
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    
}

.round-top{
    border-radius: 10px     10px      0           0;
}

#btn-agregar-tit .round-top-corners {
    border-radius: 10px     10px      0           0;
}

.btn.sharp {
  border-radius:0;
}

#row-titulares{
    margin-top: 50px;
}

.sm-margin-top{
    margin-top: 12px;
}

.back-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.round-border{
    border-radius: 10px;
}

#contenedor-login{
    background: rgba(255, 255, 255, 0.7);
}

#contenedor-ver-titulares{
    background-color: #D6D6D6 !important;
}

.text-height{
    padding-top: 10px !important;
}

.wrapper {
    min-width:500px;
    padding: 0 15px;
    background-color:#dddddd;}
.navigation {
    position:fixed;
}
.content {
    background-color:#fff;
}

.btn{
    border-radius: 25px;
    color: #fdfffc;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.btn:before,
.btn:after{
    content: "";
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.35s ease 0s;
}
.btn:before{
    left: 0;
}
.btn:hover:before{
    transform: translateX(-110%);
}
.btn:after{
    right: 0;
}
.btn:hover:after{
    transform: translateX(110%);
}
.btn.red:hover{
    color: #fe6d6d;
}
.btn.red:before,
.btn.red:after{
    background: #fe6d6d;
}
.btn.blue:hover{
    color: #5bbbf5;
}
.btn.blue:before,
.btn.blue:after{
    background: #5bbbf5;
}
.btn.orange:hover{
    color: #ee955b;
}
.btn.orange:before,
.btn.orange:after{
    background: #ee955b;
}
.btn.green:hover{
    color: #79d799;
}
.btn.green:before,
.btn.green:after{
    background: #79d799;
}
@media only  screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}
