
.login-body {
    background-image: url('../img/home-hero-wave.png');
    /* Nos aseguramos que la imagen de fondo este centrada vertical y
    horizontalmente en todo momento */
    background-position: center center;

    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;

    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
     la altura del contenido supere la altura de la imagen. */
    background-attachment: fixed;

    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
     del navegador */
    background-size: cover;

    /* Fijamos un color de fondo para que se muestre mientras se está
    cargando la imagen de fondo o si hay problemas para cargarla  */
    background-color: #fff;
}

/*Configuracion de nav-bar*/
 body {
    overflow-x: hidden;
 }


/* Toggle Styles */

#wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 50px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 70px;
    width: 0px;
    height: 100%;
    margin-left: -70px;
    overflow-y: auto;
    background: #f4f4f4; /*color de fondo de nav*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 70px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -70px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 0px; /*margenes para texto*/
    line-height: 40px;
}

.sidebar-nav li a {
    /*display: block;*//*Estira al tamaño del wrapper*/
    text-decoration: none;
    color: #30BCED; /*color sin hover nav*/
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 70px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 70px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Lineas para mandar un elemento al final del nav*/
/*html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

.bottom-bar{
    position: absolute;
    bottom: 0; 
    
}
*/
/*Hace que aparesca oculta la barra, no anda muy bien*/
/*
@media(min-width:768px) {
    #wrapper {
        padding-right: 70;
    }

    #wrapper.toggled {
        padding-right: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 70px;
    }

    #page-content-wrapper {

        position: absolute;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -70px;
    }
}*/
/*Style de los botones usados*/
.btn{
    position:relative;
    border-radius:0;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.5s ease 0s;
    border-radius: 75px;
}

.btn-shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-sharp-shadow{
    box-shadow: 1px 1px grey;
}

.btn:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: scale(1, 0.5);
    transition: all 0.4s ease 0s;
    border-radius: 75px;
}
.btn:hover:after{
    opacity: 1;
    transform: scale(1, 1);
}
.btn.purple{
    border: 1px solid #580141;
    color:#580141;
}
.btn.purple:after{
    background-color: rgba(88, 1, 65, 1);
}
.btn.green{
    border: 1px solid #396b1c;
    color:#396b1c;
}
.btn.green:after{
    background-color: rgba(57, 107, 28, 1);
}
.btn.orange{
    border: 1px solid #e67e22;
    color:#e67e22;
}
.btn.orange:after{
    background-color: rgba(230, 126, 34, 1);
}
.btn.blue{
    border: 1px solid #3498db;
    color:#3498db;
    background-color: #fff;
}
.btn.blue:after{
    background-color: rgba(52, 152, 219, 1);
}
.btn.purple:hover,
.btn.green:hover,
.btn.orange:hover,
.btn.blue:hover{
    color:#fff;
}
@media only screen and (max-width: 767px) {
    .btn{
        margin-bottom: 15px;
    }
}

/*Linea divisoria de nav-bar vertical y contenido*/
.divider-right{
    border-right-color: #e5e5e5;
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

/* Linea entre elementos de una lista*/
/*.list-line { 
    border-bottom: 1px solid #e5e5e5; 
    padding-bottom: 5px;}*/

/*Clase linear y linear-margin para usar dentro de una lista para separar sus elementos
Crea un cuadrado con altura de 1px*/
ul li.linear:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 0px;
    background: #e5e5e5;
}

ul li.linear-margin:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 7px;
    background: #e5e5e5;
}

ul li.linear-before-margin:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 7px;

    background: #e5e5e5;
}

h1.linear-margin:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 7px;
    background: #e5e5e5;
}
p.linear-margin:after {
    content: "";
    display: block;
    height: 1px;
    width: 94%;
    margin: 10px;
    background: #e5e5e5;
}

#suppa-row{
    margin-top: 85px !important;
}

/* Info Bubbles propiedades*/
.text-grey{
    color: #999999;
}

.text.blue{
    color: #3498db;
}

#lock-icon{
    color: #3498db !important;
}

.info-bubble-color{
    background-color: #f4f4f4;
    
}

.info-bubble-color2{
    background color: #e5e5e5;
}

div.text-padding{
    margin-top: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-color: #e5e5e5;

}

/* Style de los formularios */
form>input.form-format{
    margin-bottom: 5px !important;
}

.no-border{
    border: none;
}

.align-right{
    float: right;
}

